<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kotlin.unwind">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unwind">
        <activity android:name=".CreateProfileActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".activity.ContentViewActivity"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"

            />

        <activity
            android:name=".activity.MainLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainRegister"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainStartpage"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>